/* Navbar Container */
.navbar {
  background-color: #c8102e; /* Red background */
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
}

/* Logo Styling */
.logo-a {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

/* Navigation Links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  /* background-color: #e1e1e1; */
  font-weight: bold;
}

.nav-links a:hover {
  text-decoration: underline;
  color: black;
}

/* Login Button */
.login-btn {
  background-color: white;
  color: black;
  padding: 8px 16px;
  border-radius: 20px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #313131;
}
