
/*  */
body {

  font-family: Arial, sans-serif;
  /* color : #333; */
  background-color: #d9d9d9;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  /* padding: 10px; */
}
/* 
header, footer {
  background-color: #282c34;
  color: white;
  padding: 10px 0;
}

ul {
  list-style-type: none;
  padding: 0;
}



li:hover {
  background-color: #f0f0f0;
}

img {
  margin-right: 20px;
  border-radius: 4px;
}  */
