.sign-in-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F8F8F8;
  
}
a {
    color: #ff4d4d;
    text-decoration: none;
  }

.sign-in-box {
    display: flex;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 700px;
    justify-content: space-between;
}

.form-section {
    flex: 1;
    padding: 20px;
}

.logo-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    background: white;
}

.sign-in-logo {
    width: 200px;
    object-fit: contain;
}
